<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale-1.0,user-scalable=no"/>
    <title></title>
</head>
<style>
    #xxk>.isShow{
        width: 100%;
        height: 200px;
        /* background: pink; */
    }
    .titles{
        width: 92%;
        height: 38px;
        margin-top: 20px;
        float: left;
        border-bottom: 1px solid #c1c1c1;
        margin-top:10px;
        margin-left: 5px;
    }
    .titles span{
        font-size: 12px;
        display: block;
        float: left;
        width: 32%;
        height:38px;
        text-align: center;
        line-height: 12px;
    }
    .hide{ display:none !important; }
    .show{ display:block !important; }
</style>
<body class="b_eb">
<?php
            $agent = $_SERVER['HTTP_USER_AGENT'];
            if(strpos($agent,"Html5Plus") === false){
        ?>
<include file="public/top"/>
<?php
           }else{
        ?>
<style type="text/css">.c_content{margin-top: 0}</style>
<?php
            }
        ?>
<include file="public/top"/>
<include file="public/header"/>
<!--头部-->
<div class="clearfix" style="height: 1.9rem;"></div>

<div class="details_title1">目前你拥有<i class="f_blue">富链</i>：<input type="text"  name="max_num" id="max_num" value="" /></div>

<form action="" method="post" name="ore_form" id="ore_form">
<div class="order_center_time clearfix">
    <div class="text">详情列表</div>
    <input class="fl" name="begin" type="text" id="begin" placeholder="开始日期" readonly data-options="{'type':'YYYY-MM-DD','beginYear':2010,'endYear':2088}"  />
    <input class="fr" name="end" type="text" id="end" placeholder="结束日期" readonly data-options="{'type':'YYYY-MM-DD','beginYear':2010,'endYear':2088}" />
    <div class="clearfix"></div>
    <input name="money_type" type="hidden" id="money_type" value="3">
    <select name="subtype" id="subtype" class="fl">
        <option value=''>全部</option>
        <option value="in">收入</option>
        <option value="out">支出</option>
    </select>
    <span class="query" id="btn_search">查询</span>
</div>
</form>
<div class="details_box">
    <div class="title">
        <span class="name">类型</span>
        <span class="number">数量</span>
        <span class="time">交易时间</span>
    </div>
    <div class="box">
        <div class="record">
        </div>
    </div>
</div>
<include file="public/nav"/>
<include file="public/footer"/>
<link href="__PUBLIC__/Wap/js/LCalendar/LCalendar.css" rel="stylesheet">
<script src="__PUBLIC__/Wap/js/LCalendar/LCalendar.js"></script>
<script language="javascript" type="text/javascript">
    $(function(){
        //用户信息
        PostApi("{:U('Api/Members/memberInfo')}", {}, function(data){
            if(data.returnCode){
                $('input[name="max_num"]').val(data.result.score);
                $('.spinner').remove();
            }
        });
    });
    var maxDate = new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate()
    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#begin', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': (new Date().getFullYear()-3) + '-' + 1 + '-' + 1, //最小日期
        'maxDate': maxDate //最大日期
    });
    var calendar = new LCalendar();
    calendar.init({
        'trigger': '#end', //标签id
        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
        'minDate': (new Date().getFullYear()-3) + '-' + 1 + '-' + 1, //最小日期
        'maxDate': maxDate //最大日期
    });
    var no = 1;
    var pageStart = 1;
    var dropload; //下拉加载对象
    $(function(){
        pageInit();
    });
    function pageInit(){
        //交易数据
        bindSerach();
        BindEvent();
        bindDropload();
    }
    //搜索
    function bindSerach(){
        $('#btn_search').click(function(){
            $('.record').html('');
            no = 1;
            pageStart = 1;
            dropload.noData(false);
            dropload.unlock ();
            loadDownFn(dropload);
        });
    }
    function BindEvent(){
        $('.nav-tabs span').click(function(){
            if($(this).hasClass('hover')){
                return false;
            }
            $('.nav-tabs span').removeClass('hover');
            $(this).addClass('hover');
            $('#stype').val($(this).attr('data-type'));
            $('#begin').val('');
            $('#end').val('');
            $("#subtype option:first").prop("selected","selected");
            $('.record').html('');
            no = 1;
            pageStart = 1;
            dropload.noData(false);
            dropload.unlock ();
            loadDownFn(dropload);
        });
    }
    function bindDropload(){
        // dropload
        dropload = $('.dropload-box').dropload({
            scrollArea : window,
            domDown : {
                domClass   : 'dropload-down',
                domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                domLoad    : '<div class="dropload-load"><span class="loading"></span></div>',
                domNoData  : '<div class="dropload-noData">没有更多数据</div>'
            },
            loadDownFn : loadDownFn
        });
    }

    //下拉加载回调
    function loadDownFn(me){
        PostApi("{:U('Api/Wallet/bill')}",
                {
                    page:pageStart,
                    stype:$('#subtype').val(),
                    begin:$('#begin').val(),
                    end:$('#end').val(),
                    money_type:$('#money_type').val()
                },function(data){console.log(data);
                    if(data.returnCode == 1) {
                        var html = '';
                        $.each(data.result.list,function(idx,logs){
                            if(no < 10){
                                no = '0' + no;
                            }
                            html += '<div class="list">';
                            html += '<p><span class="name">'+ logs.subtype +'</span><p>';
                            html += '<p><span class="number">'+ logs.num +'</span><p>';
                            html += '<p><span class="time">'+ logs.ctime +'</span><p>';
                            html += '</div>';
                            no++;
                        });
                        pageStart = data.result.page;
                        $('.record').append(html);
                        me.noData(false);
                    } else {
                        // 无数据
                        me.noData();
                        // 锁定
                        me.lock();
                    }
                    me.resetload();
                });
    }
</script>
</body>
</html>

