<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
     <span class="icon-bar"></span> 
     <span class="icon-bar"></span> 
     <span class="icon-bar"></span> 
    </button>
    <a class="navbar-brand mystyle-brand"><span class="glyphicon glyphicon-home"></span></a> </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="li-border"><a class="mystyle-color" href="{:U('Index/index')}">管理控制台</a></li>
     <!--  <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">菜单导航<span class="caret"></span></a> -->
        <!----下拉框选项---->
         <!-- <div class="dropdown-menu topbar-nav-list">
             <div class="topbar-nav-col">
               <div class="topbar-nav-item">
               <p class="topbar-nav-item-title">弹性计算</p>
               <ul>
                 <li><a href="#">
                     <span class="glyphicon glyphicon-road"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-picture"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-gift"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                </ul>
               </div>
               
               <div class="">
               <p class="topbar-nav-item-title">弹性计算</p>
               <ul>
                 <li><a href="#">
                     <span class="glyphicon glyphicon-road"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-picture"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-gift"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
               </ul>
               </div> 
             </div>
             
             
             <div class="topbar-nav-col">
               <div class="topbar-nav-item">
               <p class="topbar-nav-item-title">弹性计算</p>
               <ul>
                 <li><a href="#">
                     <span class="glyphicon glyphicon-road"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-picture"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-gift"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                </ul>
               </div>
               
               <div class="">
               <p class="topbar-nav-item-title">弹性计算</p>
               <ul>
                 <li><a href="#">
                     <span class="glyphicon glyphicon-road"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-picture"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
                  <li><a href="#">
                     <span class="glyphicon glyphicon-gift"></span> 
                     <span class="">云服务器 ECS</span> 
                 </a>
                 </li>
               </ul>
               </div>
               
             </div>
             
         </div>
      </li> -->
    </ul>
    
    <ul class="nav navbar-nav pull-right">
      <!-- <li class="li-border">
          <a href="#" class="mystyle-color">
            <span class="glyphicon glyphicon-bell"></span>
            <span class="topbar-num">0</span>
          </a>
      </li> -->
      <!--< li class="li-border dropdown"><a href="#" class="mystyle-color" data-toggle="dropdown">
      <span class="glyphicon glyphicon-search"></span> 搜索</a>
         <div class="dropdown-menu search-dropdown">
            <div class="input-group">
                <input type="text" class="form-control">
                 <span class="input-group-btn">
                   <button type="button" class="btn btn-default">搜索</button>
                </span>
            </div>
         </div>
      </li> -->
      <!-- <li class="dropdown li-border"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">帮助与文档<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">帮助与文档</a></li>
          <li class="divider"></li>
          <li><a href="#">论坛</a></li>
          <li class="divider"></li>
          <li><a href="#">博客</a></li>
        </ul>
      </li> -->
      <li class="dropdown li-border"><a href="javascript:;" class="dropdown-toggle mystyle-color" data-toggle="dropdown">{:session('dataAdmin.username')} [{:session('dataAdmin.user')}] <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{:U('System/pwdEdit')}" id="changePwd">修改密码</a></li>
          <li><a href="javascript:;" id="windowLock">锁定窗口</a></li>
          <li><a href="{:U('Login/loginout')}">退出</a></li>

        </ul>
      </li>
      <li class="dropdown"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">换肤<span class="caret"></span></a>
        <ul class="dropdown-menu changecolor">
          <li id="blue"><a href="javascript:;">蓝色</a></li>
          <li class="divider"></li>
          <li id="green"><a href="javascript:;">绿色</a></li>
          <li class="divider"></li>
          <li id="orange"><a href="javascript:;">橙色</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!--锁定窗口-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id='windowLockModal'>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h4 class="modal-title">窗口锁定</h4>
      </div>
      <div class="modal-body">        
          <div class="form-group margin-none">
            <input type="password" class="form-control" id="lock_pwd" placeholder="请输入密码">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w100" id="unlock_btn">提交解锁</button>
      </div>
    </div>
  </div>
</div>
<!--锁定窗口-->

<!--锁定窗口-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id='noAuthModal'>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h4 class="modal-title">信息提示</h4>
      </div>
      <div class="modal-body">        
          您还未拥有该权限，请联系管理员开通！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary w100" id="go_back_btn">返回上一页</button>
      </div>
    </div>
  </div>
</div>
<!--锁定窗口-->

<script type="text/javascript">
  var lockUrl = "{:U('userWindowLock')}",
      unlockUrl = "{:U('userWindowUnlock')}";
  $(function(){
      //窗口锁定    
      if('{$user_window_lock}' == '1')show_lock();
      //权限不足提示    
      if('{$no_auth}' == '1')no_auth_lock();
  })
</script>

