<include file="public/header"/>
<style type="text/css">
    .info{
        color: #333;
        border: 1px solid #ececec;
        margin: 2.5rem auto;
        width: 90%;
        padding: .5rem;
    }
    .info p{
        line-height: .8rem;
        margin-bottom: .5rem;
        text-indent: 2em;
    }
</style>
	<body class="spinner-hide">
        <?php
            $agent = $_SERVER['HTTP_USER_AGENT'];
            if(strpos($agent,"Html5Plus") === false){
        ?>
            <include file="public/top"/>
        <?php
            }else{
        ?>
            <style type="text/css">
                .info{
                    margin:1rem auto;
                }
            </style>
        <?php
            }
        ?>
		<div class="info">
			<p>
    <strong>Photoelectricity Coin（简称：RC富链）</strong>
</p>
<p>
    未来，区块链技术与分布式光伏能源的互相融合，或将打破能源集中式生产和输配售的现有格局，更有望颠覆能源企业传统的业务模式和盈利模式。这是在2017年夏季达沃斯论坛上提出的建议。
</p>
<p>
    随着科技时代的飞速发展，人类将大自然馈赠的不可再生资源利用到换取科技产物中去，我们乃至子孙后代能享受到的资源越来越少。反之，牺牲环保带来的是全球温室效应逐年提升，温室效应自地球形成以来，它就一直在起作用。如果没有温室效应，地球表面就会寒冷无比，温度就会降到零下20℃，海洋就会结冰，生命就不会形成。因此，我们面临的不是有没有温室效应的问题，而是人类通过燃烧化石燃料把大量温室气体排入大气层，致使温室效应与地球气候发生急剧变化的问题。
</p>
<p>
    当全世界平均温度升高1℃，巨大的变化就会产生：海平面会上升，山区冰川会后退，积雪区会缩小。由于全球气温升高，就会导致不均衡的降水，一些地区降水增加，而另一些地区降水减少。如西非的萨赫勒地区从1965年以后干旱化严重；中国华北地区从1965年起，降水连年减少，与50年代相比，华北地区的降水已减少了1/3，水资源减少了1/2；中国每年因干旱受灾的面积约4亿亩，正常年份全国灌区每年缺水300亿立方米，城市缺水60亿立方米。当全世界的平均温度升高3℃，人类也已经无力挽回了，全球将会粮食吃紧。由于气温升高，在过去100年中全球海平面每年以1~2毫米的速度在上升，预计到2050年海平面将继续上升30~50厘米，这将淹没沿海大量低洼土地；此外，由于气候变化导致旱涝、低温等气候灾害加剧，造成了全世界每年约数百亿以上美元的经济损失。
</p>
<p>
    由能源基金会（美国）和可再生能源基金（美国）号召下，联合• 威廉与佛洛拉·休利特基金会（William and Flora Hewlett Foundation）
</p>
<p>
    • 大卫与露茜尔·派克德基金会（The David and Lucile Packard Foundation）
</p>
<p>
    • 儿童投资基金会（Children’s Investment Fund Foundation）
</p>
<p>
    • 劳拉与约翰·阿诺德基金会（Laura and John Arnold Foundation）
</p>
<p>
    • 彭博慈善基金会（Bloomberg Philanthropies）
</p>
<p>
    • 气候工作基金会（ClimateWorks Foundation）
</p>

		</div>
		<include file="public/nav"/>
	</body>
</html>
