<include file="public/header"/>
<body class="b_eb">
<!--头部-->
<div class="header">
	<span class="return" onClick="goBack();"></span>
	<span class="text">订单中心</span>
</div>
<div class="clearfix" style="height: 1.9rem;"></div>

<div class="seller_information_trade">
	<div class="title"><span>买家交易信息</span></div>
	<div class="title1">买家信息</div>
	<div class="text">姓名：<span id="rname"></span><br/>电话：<span id="phone"></span><br/>RC数量：<span id="opc"></span><br/>市值：¥<span id="total_cny"></span> </div>
	<div class="title1">支付方式</div>
	<div class="upload_box">

		<div class="list">
			<div class="lab">支付宝：</div>
			<div class="upload start"  data-pay="1" id="alipay">点击开启</div>
		</div>
		<div class="list">
			<div class="lab">微信：</div>
			<div class="upload start"   data-pay="2" id="weixin">点击开启</div>
		</div>

		<div class="list">
			<div class="lab">银行名称：</div>
			<div  class="upload start" data-pay="3" id="bank_name" >点击开启</div>
		</div>
		<div class="list">
			<div class="lab">持卡人姓名：</div>
			<div class="upload start"  data-pay="3" id="card_name" >点击开启</div>
		</div>
		<div class="list">
			<div class="lab">卡号：</div>
			<div class="upload start"  data-pay="3"  id="card_number" >点击开启</div>
		</div>
		<div class="list">
			<div class="lab">其他方式：</div>
			<div class="upload start"  data-pay="4"  id="other" data-value="">点击开启</div>
		</div>
	</div>
	<div class="title2">凭证：<img src="" id="cert_img" style="width:5rem;" /></div>
	<div class="text3">交易双方自由选择支付方式，买家需要联系卖家，并协商支付方式，确认后，卖家开启支付方式，买卖双方可通过支付方式进行交易，买家并在12小时内上传相关凭证截图，卖家在上传凭证12小时内完成确认卖出，凭证作为重要的平台维权手段，请务必保持清晰，若发现虚假交易，平台有权冻结账户，永不解封。</div>
	<div class="but_box clearfix  " id="btnHTML">

	</div>
</div>

<div id="paybox" style="display:none">
	<input name="pwd" type="password" id="paypwd" style="width:100%; height: 1rem;border: 1px solid #f0f0f0;" placeholder="请牢记交易密码"/>
	<input type="hidden" name="ordersn" id="ordersn">
	<p id="tip" style="font-size:.38rem; text-align: right;line-height: 1rem; height: 1rem; color:#a0a0a0; ">请输入交易密码</p>
</div>
<div id="payother" style="display:none">
	<textarea rows="5" name="other" type="text" id="other" style="width:100%; border: 1px solid #f0f0f0;"></textarea>
	<p id="tip" style="font-size:.38rem; text-align: right;line-height: 1rem; height: 1rem; color:#a0a0a0; ">请输入其它支付方式</p>
</div>

<script language="javascript" type="text/javascript">
	$(function(){
		$('.start').click(function(){
			var payway = $(this).attr('data-pay');
			var params = {
				order_sn : $('#ordersn').val(),
				payway : payway
			}
			var value = $(this).attr('data-value');
			$('#payother #other').text(value);
			if(payway == 4){
				layer.open({
					title: [
						'其它支付',
						'background-color:#f2f2f2; color:#000;'
					]
					,anim: 'up'
					,content: $('#payother').html()
					,btn: ['确认', '取消']
					,yes : function(){
						other = $('.layui-m-layercont #other');
						if(isEmpty(other.val())){
							$('.layui-m-layercont #tip').css('color', 'red');
							other.focus();
							return;
						}
						params.other = other.val();
						open_payway(params);
					}
				});
			} else {
				open_payway(params);
			}
		});
		PostApi("{:U('Api/Orders/sell_order')}", {id:{$id}}, function(data){
			if(data.returnCode == 1){
				$('#rname').html(data.result.buy_rname);
				$('#phone').html(data.result.buy_phone);
				$('#opc').html(data.result.opc);
				$('#total_cny').html(data.result.total_cny);
				$('#card_name').html(data.result.card_name);
				$('#bank_name').html(data.result.bank_name);
				$('#card_number').html(data.result.card_number);
				$('#alipay').html(data.result.sell_zfb);
				$('#weixin').html(data.result.sell_wx);
				if(data.result.sell_other !== '点击开启'){
					$('#other').attr('data-value', data.result.sell_other).html('点击查看');
				}else{
					$('#other').html(data.result.sell_other);
				}
				$('#cert_img').attr('src', data.result.cert_img);
				$('#ordersn').val(data.result.order_sn);
				var orderStatus = data.result.status;
				var htmlA = '';
				switch(orderStatus){
					case '2':
						htmlA += '<a href="javascript:history.back();" style="background: #ccc"><div class="but"><span>返回列表</span></div></a>';
						htmlA += '<div class="but"><span>匹配中</span></div>';
						break;
					case '3':
						htmlA += '<div class="but"><span>匹配成功</span></div>';
						break;
					case '4':
						htmlA += '<a href="javascript:confirm_money();"><div class="but"><span>确认收款</span></div></a>';
						break;
					case '-1':
					case '-2':
					case '102':
						htmlA += '<div class="but"><span>已撤单</span></div>';
						break;
					case '101':
					case '5':
						htmlA += '<div class="but"><span>已成交</span></div>';
						break;
				}

				$('#btnHTML').html(htmlA);
			}
		});
	});

	function open_payway(params){
		PostApi("{:U('Api/Orders/open_payway')}", params, function(data){
			if(data.returnCode == 1){
				if(params.payway == 1){
					$('#alipay').html(data.result.alipay_account);
				}
				if(params.payway == 2){
					$('#weixin').html(data.result.weixin_account);
				}
				if(params.payway == 3){
					$('#bank_name').html(data.result.bank_name);
					$('#card_name').html(data.result.card_name);
					$('#card_number').html(data.result.card_number);
				}
				if(params.payway == 4){
					$('#other').html('点击查看').attr('data-value', data.result.sell_other);
				}
				alertMsg(data.returnMsg);
			}
		});
	}
	function confirm_money(){
		layer.open({
			title: [
				'交易密码',
				'background-color:#f2f2f2; color:#000;'
			]
			,anim: 'up'
			,content: $('#paybox').html()
			,btn: ['确认', '取消']
			,yes : function(){
				password = $('.layui-m-layercont #paypwd');
				ordersn = $('.layui-m-layercont #ordersn');
				if(isEmpty(password.val())){
					$('.layui-m-layercont #tip').css('color', 'red');
					password.focus();
					return;
				}
				var params = {
					paypwd : password.val(),
					ordersn : ordersn.val()
				}
				PostApi('{:U("Api/Orders/confirm_money")}', params, function(data){
					alertMsg(data.returnMsg);
				});
			}
		});
	}
</script>

</body>
</html>
