<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <!-- Start of Baidu Transcode -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <!-- End of Baidu Transcode -->

    <!-- 禁止自动检测数字为电话号码 -->
    <meta name="format-detection" content="telephone=no">

    <!-- theme-color in Chrome 39 for Android -->
    <meta name="theme-color" content="#ea6f5a">
      <title>APP下载 - RC富链APP下载</title>

      <meta name="description" content="">

    <link rel="stylesheet" media="all" href="__PUBLIC__/download/mobile-8d426ad334cf6ab8b251.css">


</head>
  <body class="reader-day-mode">
    
<div class="misc">
  <div class="top-part" style="background: url(__PUBLIC__/Wap/img/bg2.jpg); background-size: 100%">
    
    <div class="main">
      <img class="logo" src="__PUBLIC__/Wap/img/logo.png" alt="Misc logo">
      <div class="slogan">
        <h3 style="margin-top: 10px;">RC富链APP下载</h3>
        <!-- <h6>标语</h6> -->
      </div>
      <div class="link-group" style="margin-top: 50px;">
        <div class="download">
          <a class="btn btn-default ios-link" href="https://site.pechain.org/apk/pec-v1.0.1.apk">
              <span>Android 下载</span>
          </a>
          <br/>
          <a class="btn btn-default ios-link" href="https://fir.im/eltq">
              <span>IOS 下载</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>



  <div data-app-opener-weixin-helper="" class="open-in-app" id='dialog' style="display: none;">
    <div class="modal">
      <img src="__PUBLIC__/download/top-right-arrow-cd4cabac33996464fbd529f7500a0e7d.png" alt="Top right arrow">
      <h3>请点击右上角的「···」按钮</h3>
      <p>选择「在浏览器中打开」后再次尝试~</p>
     </div>
    <div class="mask"></div>
  </div>

  <script>

    function is_weixin(){ 
      var ua = navigator.userAgent.toLowerCase(); 
      if(ua.match(/MicroMessenger/i)=="micromessenger") { 
        return true; 
      } else { 
        return false; 
      } 
    }
    
    if(is_weixin()){
      document.getElementById('dialog').style.display = "block";
    }

    (function(){

      // Really basic check for the ios platform
      // https://stackoverflow.com/questions/9038625/detect-if-device-is-ios
      var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
      // Get the device pixel ratio
      var ratio = window.devicePixelRatio || 1;
      // Define the users device screen dimensions
      var screen = {
        width: window.screen.width * ratio,
        height: window.screen.height * ratio
      };

      // iPhone X Detection
      if (iOS && screen.width === 1125 && screen.height === 2436) {
        document.querySelector('meta[name=viewport]').content = document.querySelector('meta[name=viewport]').content + ',viewport-fit=cover';
      }
    }());
  </script>
</body></html>