<include file="Public/header"/>

<js file="__PUBLIC__/js/plugins/Ueditor/ueditor.config.js" />

<js file="__PUBLIC__/js/plugins/Ueditor/ueditor.all.min.js" />

<body>

<include file="Public/nav"/>

<div class="down-main">

  <include file="Public/left"/>

  <div class="right-product right-full">

          <!---rightcontent---->

            <div class="container-fluid">

              <div class="info-center">

                <!-- header -->

                <div class="page-header">

	              	<div class="pull-left">

                    <notempty name="detail">

                        <h4>编辑轮播图</h4> 

                    <else/>

                        <h4>添加轮播图</h4> 

                    </notempty>	                	     

	            	</div>

	            </div>

                <div class="clearfix"></div>

                <div class="content-list">



                <!--内容开始-->

					<form class="form-horizontal" method="post" action="" name="basic_validate" id="form">

                            <notempty name="detail">

                                <input type="hidden" name="id" value="{$detail.id}"/>

                            </notempty>



                            <div class="form-group">

                                <label class="col-sm-1 control-label">标题</label>

                                <div class="col-sm-6">

                                    <input type="text" name="title" id="title" placeholder="输入标题" class="form-control" datatype="*" value="{$detail.title}">

                                </div>

                            </div>



                            <div class="form-group">

                                <label class="col-sm-1 control-label">图片</label>

                                <div class="col-sm-8">

                                    <img src="{$detail.pic_url|default="/Public/DataAdmin/images/upload_img.png"}" width="100" class="uploadOne" id="upload_img">

                                    <input type="hidden" name="PicUrl" id="PicUrl" class="PicUrl" datatype="*" nullmsg="请上传图片" errormsg="请上传图片" value="{$detail.pic_url}"> (750*300)

                                </div>

                            </div>



                             <div class="form-group">

                                <label class="col-sm-1 control-label">链接地址</label>

                                <div class="col-sm-6">

                                    <input type="text" name="url" id="url" placeholder="输入链接地址" class="form-control" value="{$detail.url}">

                                </div>

                            </div>

                            

                             <div class="form-group">

                                <label class="col-sm-1 control-label">排序</label>

                                <div class="col-sm-6">

                                    <input type="text" name="sort" id="sort" placeholder="输入排序" class="form-control" value="{$detail.sort}">

                                </div>

                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">

                                <div class="col-sm-4 col-sm-offset-2">

                                    <button class="Jun-TiJiao" type="submit">保存内容</button>

                                    <a class="btn btn-white" href="javascript:history.go(-1)">取消</a>

                                </div>

                            </div>

                        </form>

					

				<!--内容开始-->

                </div>

                

              </div>

            </div>

  </div>

</div>

</body>

<script type="text/javascript">

	$(function(){

		//表单验证

		checkForm('.form-horizontal', {

	        msgCallback:function(){

	            location.href = '{:U("bannerList")}';

	        }

	    });

        //图片上传

        bind_uploadOne({

            uploadUrl : '{:U("Upload/uploadImg")}',

            bind : '#upload_img',

            dataType : 'JSON',

            callback : function(data,el){

                if(data.status == 1){

                    $(el).siblings('img').attr('src',data.url);

                    $(el).siblings('input').val(data.url);

                }else{

                    msg(data.info);

                }

            }

        })





	})	

</script>

<include file="Public/footer"/>