<include file="Public/header"/>
<body>
<include file="Public/nav"/>
<div class="down-main">
  <include file="Public/left"/>
  <div class="right-product right-full">

          <!---leftlist-->
          <sidebar class="east-back left-back" style="left: 0%; right: 90%;">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">新闻栏目一</a></li>
                <li><a href="#">新闻栏目二</a></li>
                <li><a href="#">新闻栏目三</a></li>
            </ul>
          </sidebar>
          <!---rightcontent---->
          <div class="center-back right-back" style="left: 10%; right: 0%;">
            <div class="container-fluid">
              <div class="info-center">
                <div class="page-header">
                  	<div class="pull-left">
                    	<h4>弹窗提示</h4>      
                	</div>
                </div> 
                <div class="clearfix"></div>            
                <dl class="account-basic clearfix">
                  <dt class="pull-left">
                  <p class="account-head">
                    <img src="public/images/noavatar_middle.gif">
                  </p>
                  </dt>
                  <dd class="pull-left margin-large-left margin-small-top">
                  <p class="text-small">
                    <span class="show pull-left base-name">会员账号</span>:<span class="margin-left">小朱 </span>
                  </p>
                  <p class="text-small">
                    <span class="show pull-left base-name">认证状态</span>:
                    <span class="margin-left">已认证</span>
                    <!-- <a class="margin-left text-main text-underline" href="#">立即认证</a> -->
                  </p>
                  <p class="text-small">
                    <span class="show pull-left base-name">注册时间</span>:<span class="margin-left">2015-01-12 11:50:22</span>
                  </p>
                  </dd>
                </dl>
              </div>
            </div>
            

      </div>
  </div>
</div>
</body>
<include file="Public/footer"/>