<include file="Public/header"/>
<body>
<style>
.col-md-7{
	width:61%;
}
.col-md-5{
	width:39%;
}
.col-md-7 .form-group{
	padding-right:5px !important;
}
</style>
<include file="Public/nav"/>
<div class="down-main">
  <include file="Public/left"/>
  <div class="right-product right-full">
          <!---rightcontent---->
            <div class="container-fluid">
              <div class="info-center">
                <!-- header -->
                <div class="page-header">
	              	<div class="pull-left">
	                	<h4>商品评论</h4>      
	            	</div>
	            </div>
                <div class="clearfix"></div>
                <div class="content-list">    
					<!--搜索结束-->
					<div class="clearfix"></div>
					<!--内容开始-->
					<form id="listForm" method="post">
					<div class="table-margin">
						<table class="table table-bordered table-header table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>评论人</th>
									<th>评论内容</th>									
									<th>评论分数</th>
									<th>评论时间</th>
									<th>评论图片</th>
									<th>是否匿名</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							
						<notempty name="list">
							<tbody>
								<volist name="list" id="vo" key="val">
									<tr class="long-td">
										<td>{$vo.id}</td>
										<td>{$vo.rname}</td>
										<td>{$vo.content}</td>		
										<td>{$vo.score}</td>	
										<td>
											{$vo.ctime}
										</td>
										<td>
										<volist name="vo['image']" id="vv">
										  <img src="{$vv}" width='40' height='40' style="margin-right:13px;">
										</volist>
										</td>
										<td>
											<if condition="$vo['anonymity'] eq 1">是
											  <else/>否
											</if>
										</td>
										<td>
											<if condition="$vo['status'] eq 0">待审核
											  <else/>审核通过
											</if>
										</td>
										<td>
									      <if condition="$vo['status'] eq 0">
										    <a href="javascript:;" class="shenhe" data-id="{$vo['id']}">待审核</a>
										  </if>
										  <a href="javascript:;" class="delcomment" data-id="{$vo['id']}">删除</a>
										</td>	
									</tr>
								</volist>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="9">
											<div class="pull-right">
												<nav class="pagination">{$page}</nav>
											</div>
										</td>
									</tr>
								</tfoot>
						<else/>
								<tr>
									<td colspan="9" class="text-center">
										没有数据拉！
									</td>
								</tr>
						</notempty>
							
						</table>
                    </div>
					</form>
					<!--内容结束-->
                </div>
                
              </div>
            </div>
  </div>
</div>
</body>
<script type="text/javascript">
$(function(){
	var p = "{$p}";
	var goodsid = "{$goodsid}";
	//审核评论 
	$(document).on("click" ,'.shenhe',function(){
        var id = $(this).data('id');
        layer.confirm('确定要审核通过吗？', {
			  btn: ['确定','取消'] //按钮
			}, function(){
				$.post("{:U('changestatus')}",{"id":id},function(d){
		        	if(d.returnCode=="SUCCESS"){
		        		layer.msg("审核通过");
		        	}else{
		        		layer.msg("审核失败");
		        	}
		        	location.href="__ACTION__/goodsid/"+goodsid+"/p/"+p;
		        },"json");
			}
        );        
    });
	
	//删除
	$(document).on("click" ,'.delcomment',function(){
        var id = $(this).data('id');
        layer.confirm('确定删除？', {
			  btn: ['确定','取消'] //按钮
			}, function(){
				$.post("{:U('delcomment')}",{"id":id},function(d){
		        	if(d.returnCode=="SUCCESS"){
		        		layer.msg("审核通过");
		        	}else{
		        		layer.msg("审核失败");
		        	}
		        	location.href="__ACTION__/goodsid/"+goodsid+"/p/"+p;
		        },"json");
			}
        );        
    });
})
</script>
<include file="Public/footer"/>